<h1>Edit Product</h1>
<%= form_with(model: @product) do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_area :description, placeholder: "Details" %>
  <%= f.number_field :price %>
  <%= f.number_field :stock %>
  <%= f.submit %>
<% end %>