<div>
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_page_path %>
  <%= link_to "Contact", contact_page_path %>

  <hr>
    <% if user_signed_in? %>
       <h1>Welcome, <%= current_user.email %> to the app. </h1>
    <% end %>
  <hr>

  <%= link_to "Products", products_path %>
  <% if user_signed_in? %>
    <%= link_to "New Proudct", new_product_path %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>

    <%else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
  <% end %>
</div>