<div>
  <%= link_to "Home", root_path %>
  <%= link_to "About", about_page_path %>
  <%= link_to "Contact", contact_page_path %>

  <hr>

  <%= link_to "Products", products_path %>
  <%= link_to "New Proudct", new_product_path %>
</div>